<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		#logo{
		}
		body{
			background-color: #ebeff5;
		}
		#total-orders{
			background-color: #4cb4c7;
		}
		#orders-delivered{
			background-color: #7abecc;
		}
		#orders-pending{
			background-color: #7CD1C0;
		}
	</style>

	
</head>
<body>
	
	<div class="container-fluid">
		<a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
	</div>
{% block content %}

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Trips</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totaltrips}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total m3</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalqty_in_m3}} </h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Tonnes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalqty_in_ton}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Pending M3</h5>
				</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totalpending_m3}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<hr>
	<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-md-4">
			
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="">Add Pending M3 </a>
				<table class="table table-sm">
					<tr>
						<th></th>
						<th>Date</th>
						<th>Total M3</th>
						<th>Total Ton</th>
					</tr>
					{% for distinct_date in distinct_dates %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="#">Add</a></td>
						<td>{{ distinct_date.trip_date|date:"d-m-Y" }}</td>
						<td>{{ distinct_date.qty_m3__sum }}</td>
						<td>{{ distinct_date.qty_ton__sum }}</td>
						

					</tr>
					{% endfor %}

				</table>
			</div>
		
			<h5></h5>
			<div class="card card-body">
				<p>Details by Owner</p>
				<table class="table table-sm">
					<tr>
						<th> Owner </th>
						<th>name</th>
					</tr>

					{% for ownername in ownernames %}
						<tr>
							<td>{{ownername.vehicle_owner_name}} </td>
							<td><a class="btn btn-sm btn-info" href="{% url 'owner_details' ownername.id %}">View</a></td>
						</tr>
					{% endfor %}

				</table>
			</div>
			<div class="card card-body">
				<p>Details by Date</p>
				<table class="table table-sm">
					<tr>
						<th> Date </th>
					</tr>

					{% for distinct_date in distinct_dates %}
						<tr>
							<td><a class="btn btn-sm btn-info" href="{% url 'pdf_day' distinct_date.trip_date|date:"Y-m-d" %}">{{distinct_date.trip_date}}</a></td>
						</tr>
					{% endfor %}

				</table>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card card-body">
				<h5 align="left">Latest 5 Trips</h5>
				<h5 align="right">View All</h5>
				<table class="table table-sm">
					<tr>
						<th>Date</th>
						<th>Load Type</th>
						<th>TF number</th>
						<th>Qty in m3</th>
						<th>Vehicle number</th>
						<th>Qty in tonne</th>
						<th>Royalty bill image</th>
						<th>Way bill image</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>

					{% for trip_detail in trip_details %}
						<tr>
							<td>{{trip_detail.trip_date}}</td>
							<td>{{trip_detail.load_type}}</td>
							<td>{{trip_detail.tf_number}}</td>
							<td>{{trip_detail.qty_m3}}</td>
							<td>{{trip_detail.vehicle_number}}</td>
							<td>{{trip_detail.qty_ton}}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'pdf_royalty_bill_image' trip_detail.id %}">Get PDF</a></td>
							<td><a class="btn btn-sm btn-info" href="{% url 'pdf_way_bill_image' trip_detail.id %} ">Get PDF</a></td>
							<td><a class="btn btn-sm btn-info" href="{% url 'updatetrip' trip_detail.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'deletetrip' trip_detail.id %}">Delete</a></td>

						</tr>
					{% endfor %}

			
				</table>
			</div>
		</div>

	</div>
	</div>
	{% endblock %}
</body>
	  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>