<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		#logo{
		}
		body{
			background-color: #ebeff5;
		}
		#total-orders{
			background-color: #4cb4c7;
		}
		#orders-delivered{
			background-color: #7abecc;
		}
		#orders-pending{
			background-color: #7CD1C0;
		}
	</style>

	
</head>
<body>
	
	
	</div>
{% block content %}

{%  include 'blog/transport_total_detils.html' %}

	<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h5>Vehicles:</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="">Add Payments </a>
				<table class="table table-sm">
					<tr>
						<th></th>
						<th>Date</th>
						<th>Total M3</th>
						<th>Total Ton</th>
					</tr>
					<!--{% for distinct_dates in distinct_dates_m3 %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="#">View</a></td>
						<td>{{ distinct_dates.trip_date|date:"d-m-Y" }}</td>
						<td>{{ distinct_dates.qty_m3__sum }}</td>

					</tr>
						{% endfor %}
						-->

				</table>
			</div>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'addvehicle'%}">Add Vehicle</a>
				<table class="table table-sm">
					<tr>
						<th></th>
						<th>Owner name</th>
						<th>Vehicle number</th>
					</tr>

					{% for vehicle_detail in vehicle_details %}
						<tr>
							<td><a class="btn btn-sm btn-info" href="{% url 'vehicle_details' vehicle_detail.id %}">View</a></td>
							<td>{{vehicle_detail.owner_name}}</td>
							<td>{{vehicle_detail.vehicle_number}}</td>
						</tr>
					{% endfor %}

				</table>
			</div>
		</div>

		<div class="col-md-8">
			<h5>Latest 5 Trips</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'addtrip' %}">Add Trip details</a> 
				<table class="table table-sm">
					<tr>
						<th>Date</th>
						<th>Load Type</th>
						<th>TF number</th>
						<th>Qty in m3</th>
						<th>Vehicle number</th>
						<th>Qty in tonne</th>
						<th>Royalty bill image</th>
						<th>Way bill image</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>

					{% for trip_detail in trip_details %}
						<tr>
							<td>{{trip_detail.trip_date}}</td>
							<td>{{trip_detail.loadtype}}</td>
							<td>{{trip_detail.tf_number}}</td>
							<td>{{trip_detail.qty_m3}}</td>
							<td>{{trip_detail.vehicle_number}}</td>
							<td>{{trip_detail.qty_ton}}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'pdf_royalty_bill_image' trip_detail.id %}">Download</a></td>
							<td><a class="btn btn-sm btn-info" href="{% url 'pdf_way_bill_image' trip_detail.id %} ">Download</a></td>
							<td><a class="btn btn-sm btn-info" href="{% url 'updatetrip' trip_detail.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'deletetrip' trip_detail.id %}">Delete</a></td>

						</tr>
					{% endfor %}

			
				</table>
			</div>
		</div>

	</div>
	</div>
	{% endblock %}
</body>
	  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>